venv/
*.log
*.sqlite3
*.pyc
__pycache__/
data.db
storage/*.db*
storage/*.log
storage/*.joblib
.streamlit/logs/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
